<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One User</title>
</head>
<body>
    <h3>
        Full Name : {{user.first_name}} {{user.last_name}}
    </h3>
    <p>
        Email : {{user.email}}
    </p>
    <p>
        Created_at : {{user.created_at}}
    </p>
    <p>
        Updated_at : {{user.updated_at}}
    </p>
    <a href="" class="btn btn-primary">Edit</a>
    <a href="" class="btn btn-primary">Delete</a>
</body>
</html>